body {
	padding-top: 50px;
}
.navbar-inverse {
	background-color: #900;
	border-color: #555;
}
.headline {
	padding: 40px 15px;
	text-align: center;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-weight: 800;
}
.disclaimer {
	color:#fff;
}